#aiChatbotTitle {
    position: relative;
    text-align: center;
    font-size: 43px;
    font-family: cursive;
    font-weight: bolder;
    color: hsl(315, 100%, 50%);
    display: block;
    transform: translateX(30vw);
    margin-top: 30px;
    margin-bottom: 30px;
    user-select: none;
}
#aiChatbotRulesIcon {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    transform: translateX(-367px);
    cursor: pointer;
    border: solid hsl(315, 100%, 50%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 999;
    display: inline;
    user-select: none;
}
#aiChatbotRulesIcon:hover {
    border-radius: 20px;
}
#aiChatbotRulesIcon:active {
    border-style: dashed;
}
#aiChatbotRulesIcon:not(:hover) ~ #aiChatbotRulesBox {
    border-top-left-radius: 15px;
}
#aiChatbotRulesBox {
    position: absolute;
    width: 400px;
    height: 500px;
    border: solid;
    margin: auto;
    transform: translateX(-367px);
    border-color: hsl(315, 100%, 50%);
    border-radius: 20px;
    z-index: 997;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline;
    user-select: none;
}
#aiChatbotRulesBox::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 20px;
    height: auto;
}
#aiChatbotRulesBox::-webkit-scrollbar-thumb {
    background: hsl(315, 100%, 50%);
    border-radius: 20px;
}
#aiChatbotRulesBox::-webkit-scrollbar-track-piece {
    background: none;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#aiChatbotRulesTitle {
    font-size: 30px;
    font-weight: 600;
    margin-top: 28px;
    margin-right: -60px;
    user-select: none;
}
#aiChatbotSettingsIcon {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    transform: translateX(285px);
    cursor: pointer;
    border: solid hsl(315, 100%, 50%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 999;
    display: inline;
    user-select: none;
}
#aiChatbotSettingsIcon:hover {
    border-radius: 20px;
}
#aiChatbotSettingsIcon:active {
    border-style: dashed;
}
#aiChatbotSettingsIcon:not(:hover) ~ #aiChatbotSettingsBox {
    border-top-right-radius: 15px;
}
#aiChatbotSettingsBox {
    position: absolute;
    width: 300px;
    height: 450px;
    border: solid;
    margin: auto;
    transform: translateX(60px);
    border-color: hsl(315, 100%, 50%);
    border-radius: 20px;
    z-index: 998;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline;
    user-select: none;
}
ul > input {
    margin-left: -40px;
    width: 200px;
}
ul > input::-webkit-slider-thumb {
    background: gray;
}
ul > input::-webkit-slider-runnable-track {
    background: none;
}
ul > input[type='color' i] {
    width: 200px;
}
ul > span {
    position: absolute;
    font-family: cursive;
}
#aiChatbotSettingsTitle {
    font-size: 30px;
    font-weight: 600;
    margin-top: 28px;
    margin-right: 60px;
    user-select: none;
}
ul {
    margin-top: 22px;
}
li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: cursive;
    text-align: left;
    list-style-type: square;
    margin-right: 19px;
}
#lvl2li {
    font-family: cursive;
    margin-left: 25px;
    list-style-type: circle;
}
#aiChatbotInvisLi {
    list-style-type: none;
}
#aiChatbotContainer {
    width: 500px;
    height: 643px;
    display: block;
    margin: auto;
    border: solid 10px rgba(53, 47, 47, 0.993);
    border-radius: 40px;
    transform: translateX(30vw);
    padding-top: 12px;
    background-color: azure;
    user-select: none;
}
#aiChatbotProfile {
    width: 500px;
    height: 200px;
    margin: auto;
    justify-content: center;
    margin-top: -12px;
    background-color: lavender;
    border: none;
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#aiChatbotPic {
    width: 175px;
    height: auto;
    margin-top: 8px;
}
#humanAIConvoContainer {
    width: 500px;
    height: 320px;
    margin: auto;
    background-color: aliceblue;
    border-top: solid 10px rgba(53, 47, 47, 0.993); 
    border-bottom: solid 10px rgba(53, 47, 47, 0.993);
}
#userInputField {
    width: 494px;
    height: 110px;
    font-family: cursive;
    font-size: 16px;
    margin: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    resize: none;
}
#aiChatbotHomeButton {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    margin-top: 8px;
    transform: translateX(-367px);
    cursor: pointer;
    border: solid hsl(315, 100%, 50%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 999;
    display: inline;
    user-select: none;
}
#aiChatbotHomeButton:hover {
    border-radius: 20px;
}
#aiChatbotHomeButton:active {
    border-style: dashed;
}
.readyForAnim {
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes appearFromRightAIChatbot {
    from {
        opacity: 0;
        transform: translateX(30vw);
    }
    to {
        opacity: 100;
        transform: translateX(0vw);
    }
}
@keyframes appearFromRightAIChatbotRules {
    from {
        opacity: 0;
        transform: translateX(calc(30vw - 367px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw - 367px));
    }
}
@keyframes appearFromRightAIChatbotRulesSmall {
    from {
        opacity: 0;
        transform: translateX(calc(30vw - 260px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw - 260px));
    }
}
@keyframes appearFromRightAIChatbotSettingsIcon {
    from {
        opacity: 0;
        transform: translateX(calc(30vw + 285px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw + 285px));
    }
}
@keyframes appearFromRightAIChatbotSettingsIconSmall {
    from {
        opacity: 0;
        transform: translateX(calc(30vw + 180px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw + 180px));
    }
}
@keyframes appearFromRightAIChatbotSettingsBox {
    from {
        opacity: 0;
        transform: translateX(calc(30vw + 60px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw + 60px));
    }
}
@keyframes appearFromRightAIChatbotSettingsBoxSmall {
    from {
        opacity: 0;
        transform: translateX(calc(30vw - 45px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw - 45px));
    }
}