body {
    background-color: rgba(141, 199, 154, 0.482);
}
#calcTitle {
    font-size: 40px;
    font-family: cursive;
    font-weight: bolder;
    color: hsl(110, 74%, 41%);
}
#settingsIcon {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    transform: translateX(285px);
    cursor: pointer;
    border: solid hsl(110, 74%, 41%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 999;
}
#settingsIcon:hover {
    border-radius: 20px;
}
#settingsIcon:active {
    border-style: dashed;
}
#settingsIcon:not(:hover) ~ #settingsBox {
    border-top-right-radius: 15px;
}
#settingsBox {
    position: absolute;
    width: 300px;
    height: 400px;
    border: solid;
    margin: auto;
    transform: translateX(60px);
    border-color: hsl(110, 74%, 41%);
    border-radius: 20px;
    z-index: 998;
    background-color: white;
}
#settingsTitle {
    font-size: 30px;
    font-weight: 600;
    margin-top: 17px;
    margin-right: 80px;
}
#inputField {
    width: 500px;
    height: 80px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    border: solid 22px rgba(0, 0, 0, 0.705);
    text-align: right;
    font-family: cursive;
    font-size: 30px;
}
#ansField {
    position: absolute;
    transform: translateX(-493px);
    top: 135px;
    text-align: right;
    font-family: cursive;
    font-size: 10px;
    border: none;
    width: 465px;
    font-weight: 500;
}
#historyIcon {
    position: absolute;
    width: 20px;
    height: auto;
    transform: translateX(-523px);
    top: 135px;
    cursor: pointer;
    z-index: 999;
    border: none;
    padding-bottom: 1px;
    background-color: white;
}
#historyIcon:hover {
    border-color: rgba(0, 0, 0, 0.705);
    border-bottom-style: dashed;
}
#historyBox {
    position: absolute;
    width: 300px;
    height: 375px;
    border: solid;
    margin: auto;
    top: 125px;
    transform: translateX(-531px);
    border-color: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    z-index: 998;
    background-color: white;
    overflow-y: auto;
}
#historyBox::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 20px;
    height: auto;
}
#historyBox::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.705);
    border-radius: 20px;
}
#historyBox::-webkit-scrollbar-track-piece {
    background: none;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#historyTitle {
    font-size: 30px;
    font-weight: 600;
    margin-top: 7px;
}
span > div {
    font-family: cursive;
    text-align: center;
    margin: 7px;
}
#buttons {
    width: 553px;
    height: 550px;
    margin: auto;
    border-radius: 20px;
    background-color: gray;
    display: grid;
    grid-template-columns: 105px 105px 105px 105px 105px;
    grid-template-rows: 105px 105px 105px 105px 105px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
button {
    font-family: cursive;
    font-size: 30px;
    border-radius: 50px;
    border: none;
    width: 100px;
    height: 100px;
    margin: auto;
    background-color:aliceblue;
    cursor: pointer;
}
button:hover {
    background-color: hsl(210, 11%, 75%)
}
button:active {
    background-color: hsl(210, 11%, 60%);
}
.operator {
    background-color:rgb(245, 140, 102);
}
.operator:hover {
    background-color: hsl(19, 69%, 55%);
}
.operator:active {
    background-color: hsl(19, 69%, 45%);
}
.deleter {
    background-color: rgb(247, 109, 99);
}
.deleter:hover {
    background-color: hsl(7, 81%, 55%);
}
.deleter:active {
    background-color: hsl(7, 81%, 45%);
}
#equals {
    background-color:lightskyblue;
}
#equals:hover {
    background-color: deepskyblue;
}
#equals:active {
    background-color: rgb(25, 126, 189);
}
.irrationalNum {
    background-color:lightgreen;
}
.irrationalNum:hover {
    background-color:rgba(0, 255, 0, 0.568);
}
.irrationalNum:active {
    background-color: rgba(0, 255, 0, 0.268);
}
#ans {
    background-color:rgba(64, 224, 208, 1);
}
#ans:hover {
    background-color:rgba(72, 209, 205, 0.76);
}
#ans:active {
    background-color: rgba(72, 209, 205, 0.46);
}