body {
    background-color: rgba(141, 199, 154, 0.482);
}
#calcTitle {
    font-size: 40px;
    font-family: cursive;
    font-weight: bolder;
    color: hsl(110, 74%, 41%);
}
#settingsIcon {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    transform: translateX(285px);
}
input {
    width: 500px;
    height: 80px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    border: solid 22px rgba(0, 0, 0, 0.705);
    text-align: right;
    font-family: cursive;
    font-size: 30px;
}
#buttons {
    width: 553px;
    height: 550px;
    margin: auto;
    border-radius: 20px;
    background-color: gray;
    display: grid;
    grid-template-columns: 105px 105px 105px 105px 105px;
    grid-template-rows: 105px 105px 105px 105px 105px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
button {
    font-family: cursive;
    font-size: 30px;
    border-radius: 50px;
    border: none;
    width: 100px;
    height: 100px;
    margin: auto;
    background-color:aliceblue;
    cursor: pointer;
}
button:hover {
    background-color: hsl(210, 11%, 75%)
}
button:active {
    background-color: hsl(210, 11%, 60%);
}
.operator {
    background-color:rgb(245, 140, 102);
}
.operator:hover {
    background-color: hsl(19, 69%, 55%);
}
.operator:active {
    background-color: hsl(19, 69%, 45%);
}
.deleter {
    background-color: rgb(247, 109, 99);
}
.deleter:hover {
    background-color: hsl(7, 81%, 55%);
}
.deleter:active {
    background-color: hsl(7, 81%, 45%);
}
#equals {
    background-color:lightskyblue;
}
#equals:hover {
    background-color: deepskyblue;
}
#equals:active {
    background-color: rgb(25, 126, 189);
}
.irrationalNum {
    background-color:lightgreen;
}
.irrationalNum:hover {
    background-color:rgba(0, 255, 0, 0.568);
}
.irrationalNum:active {
    background-color: rgba(0, 255, 0, 0.268);
}
#ans {
    background-color:rgba(64, 224, 208, 1);
}

#ans:hover {
    background-color:rgba(72, 209, 205, 0.76);
}

#ans:active {
    background-color: rgba(72, 209, 205, 0.46);
}