body {
    background-color: lightgray;
    min-width: 600px;
}
a {
    display: inline-flex;
    width: 50px;
    height: 50px;
}
#homeTitle {
    font-size: 43px;
    font-family: cursive;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.705);
    display: block;
    user-select: none;
    margin-top: 30px;
    margin-bottom: 5px;
}
#projectName {
    width: 350px;
    border-radius: 20px;
    margin: auto;
    font-size: 60px;
    font-family: cursive;
    font-weight: bolder;
    display: block;
    user-select: none;
    margin-bottom: 15px;
    background-color: goldenrod;
    color: black;
    box-shadow: 0px 0px 20px 5px goldenrod;
}
#toolsContainer {
    width: 500px;
    height: 265px;
    background-color: azure;
    border: solid 10px rgba(0, 0, 0, 0.705);
    border-radius: 30px;
    font-family: cursive;
    font-size: 33px;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    user-select: none;
    box-shadow: 0px 0px 5px 5px goldenrod;
}
#byContainer {
    width: 500px;
    height: 262px;
    background-color: azure;
    border: solid 10px rgba(0, 0, 0, 0.705);
    border-radius: 30px;
    font-family: cursive;
    font-size: 33px;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    user-select: none;
    box-shadow: 0px 0px 5px 5px goldenrod;
}
#toolGrid {
    display: grid;
    grid-template-columns: 150px 150px 80px;
    grid-template-rows: 100px 100px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.tool {
    width: 75px;
    height: auto;
    border: solid;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
}
#calcTool:hover {
    border-color: hsl(110, 74%, 41%);
}
#calcTool:active {
    border-style: dashed;
}
#rulerTool:hover {
    border-color: hsl(187, 74%, 41%);
}
#rulerTool:active {
    border-style: dashed;
}
#timerTool:hover {
    border-color: hsl(24, 100%, 50%);
}
#timerTool:active {
    border-style: dashed;
}
#aiModelTool:hover {
    border-color: hsl(315, 100%, 50%);
}
#aiModelTool:active {
    border-style: dashed;
}
#bioContents {
    display: flex;
    margin-top: 10px;
    user-select: none;
}
#byTitlePt2 {
    font-size: 29px;
}
#bioPic {
    width: 100px;
    height: auto;
    border: solid 3px black;
    border-radius: 20px;
    margin-left: 47.5px;
}
#contactGrid {
    margin-left: 47px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 100px 100px 60px;
    grid-template-rows: 63px 63px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.contact {
    width: 50px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.705);
    border: solid 3px black;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}
.contact:hover {
    border-radius: 15px;
}
.contact:active {
    border-style: dashed;
}
#linkedInContact {
    background-color: white;
}
#gmailContact {
    background-color: white;
}
#instagramContact {
    background-color: white;
}
#facebookContact {
    background-color: white;
}
#toCalc {
    position: absolute;
    width: 100px;
    height: auto;
    transform: translateX(270px);
    display: inline;
    user-select: none;
}
.readyForAnim {
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes fadeLeft {
    from {
        opacity: 100;
        transform: translateX(0vw);
    }
    to {
        opacity: 0;
        transform: translateX(-30vw);
    }
}