#imgIdentifierRulesIcon {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    transform: translateX(-367px);
    cursor: pointer;
    border: solid hsl(0, 100%, 50%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 999;
    display: inline;
    user-select: none;
}
#imgIdentifierRulesIcon:hover {
    border-radius: 20px;
}
#imgIdentifierRulesIcon:active {
    border-style: dashed;
}
#imgIdentifierRulesIcon:not(:hover) ~ #imgIdentifierRulesBox {
    border-top-left-radius: 15px;
}
#imgIdentifierRulesBox {
    position: absolute;
    width: 400px;
    height: 500px;
    border: solid;
    margin: auto;
    transform: translateX(-367px);
    border-color: hsl(0, 100%, 50%);
    border-radius: 20px;
    z-index: 997;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline;
    user-select: none;
}
#imgIdentifierRulesBox::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 20px;
    height: auto;
}
#imgIdentifierRulesBox::-webkit-scrollbar-thumb {
    background: hsl(0, 100%, 50%);
    border-radius: 20px;
}
#imgIdentifierRulesBox::-webkit-scrollbar-track-piece {
    background: none;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#imgIdentifierRulesTitle {
    font-size: 30px;
    font-weight: 600;
    margin-top: 28px;
    margin-right: -60px;
    user-select: none;
}
#imgIdentifierSettingsIcon {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    transform: translateX(285px);
    cursor: pointer;
    border: solid hsl(0, 100%, 50%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 999;
    display: inline;
    user-select: none;
}
#imgIdentifierSettingsIcon:hover {
    border-radius: 20px;
}
#imgIdentifierSettingsIcon:active {
    border-style: dashed;
}
#imgIdentifierSettingsIcon:not(:hover) ~ #imgIdentifierSettingsBox {
    border-top-right-radius: 15px;
}
#imgIdentifierSettingsBox {
    position: absolute;
    width: 300px;
    height: 400px;
    border: solid;
    margin: auto;
    transform: translateX(60px);
    border-color: hsl(0, 100%, 50%);
    border-radius: 20px;
    z-index: 998;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline;
    user-select: none;
}
#imgIdentifierSettingsTitle {
    font-size: 30px;
    font-weight: 600;
    margin-top: 28px;
    margin-right: 60px;
    user-select: none;
}
.readyForAnim {
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes appearFromRightImgIdentifier {
    from {
        opacity: 0;
        transform: translateX(30vw);
    }
    to {
        opacity: 100;
        transform: translateX(0vw);
    }
}
@keyframes appearFromRightImgIdentifierRules {
    from {
        opacity: 0;
        transform: translateX(calc(30vw - 367px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw - 367px));
    }
}
@keyframes appearFromRightImgIdentifierRulesSmall {
    from {
        opacity: 0;
        transform: translateX(calc(30vw - 260px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw - 260px));
    }
}
@keyframes appearFromRightImgIdentifierSettingsIcon {
    from {
        opacity: 0;
        transform: translateX(calc(30vw + 285px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw + 285px));
    }
}
@keyframes appearFromRightImgIdentifierSettingsIconSmall {
    from {
        opacity: 0;
        transform: translateX(calc(30vw + 180px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw + 180px));
    }
}
@keyframes appearFromRightImgIdentifierSettingsBox {
    from {
        opacity: 0;
        transform: translateX(calc(30vw + 60px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw + 60px));
    }
}
@keyframes appearFromRightImgIdentifierSettingsBoxSmall {
    from {
        opacity: 0;
        transform: translateX(calc(30vw - 45px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw - 45px));
    }
}