#imgIdentifierTitle {
    position: relative;
    text-align: center;
    font-size: 43px;
    font-family: cursive;
    font-weight: bolder;
    color: hsl(0, 100%, 50%);
    display: block;
    transform: translateX(30vw);
    margin-top: 30px;
    margin-bottom: 30px;
    user-select: none;
}
#imgIdentifierRulesIcon {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    transform: translateX(-367px);
    cursor: pointer;
    border: solid hsl(0, 100%, 50%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 999;
    display: inline;
    user-select: none;
}
#imgIdentifierRulesIcon:hover {
    border-radius: 20px;
}
#imgIdentifierRulesIcon:active {
    border-style: dashed;
}
#imgIdentifierRulesIcon:not(:hover) ~ #imgIdentifierRulesBox {
    border-top-left-radius: 15px;
}
#imgIdentifierRulesBox {
    position: absolute;
    width: 400px;
    height: 500px;
    border: solid;
    margin: auto;
    transform: translateX(-367px);
    border-color: hsl(0, 100%, 50%);
    border-radius: 20px;
    z-index: 997;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline;
    user-select: none;
}
#imgIdentifierRulesBox::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 20px;
    height: auto;
}
#imgIdentifierRulesBox::-webkit-scrollbar-thumb {
    background: hsl(0, 100%, 50%);
    border-radius: 20px;
}
#imgIdentifierRulesBox::-webkit-scrollbar-track-piece {
    background: none;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#imgIdentifierRulesTitle {
    font-size: 30px;
    font-weight: 600;
    margin-top: 28px;
    margin-right: -60px;
    user-select: none;
}
#imgIdentifierSettingsIcon {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    transform: translateX(285px);
    cursor: pointer;
    border: solid hsl(0, 100%, 50%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 999;
    display: inline;
    user-select: none;
}
#imgIdentifierSettingsIcon:hover {
    border-radius: 20px;
}
#imgIdentifierSettingsIcon:active {
    border-style: dashed;
}
#imgIdentifierSettingsIcon:not(:hover) ~ #imgIdentifierSettingsBox {
    border-top-right-radius: 15px;
}
#imgIdentifierSettingsBox {
    position: absolute;
    width: 300px;
    height: 450px;
    border: solid;
    margin: auto;
    transform: translateX(60px);
    border-color: hsl(0, 100%, 50%);
    border-radius: 20px;
    z-index: 998;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline;
    user-select: none;
}
ul > input {
    margin-left: -40px;
    width: 200px;
}
ul > input[type='color' i] {
    width: 200px;
}
ul > span {
    position: absolute;
    font-family: cursive;
}
#imgIdentifierSettingsTitle {
    font-size: 30px;
    font-weight: 600;
    margin-top: 28px;
    margin-right: 60px;
    user-select: none;
}
#fitContainerSizeText {
    margin-right: 8px;
}
#visibleStyleText {
    margin-right: 8px;
}
#disclaimerSettingsText {
    margin-left: -10px;
    margin-right: 22px;
}
#citationSettingsText {
    margin-left: -10px;
}
ul {
    margin-top: 22px;
}
li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: cursive;
    text-align: left;
    list-style-type: square;
    margin-right: 19px;
}
#lvl2li {
    font-family: cursive;
    margin-left: 25px;
    list-style-type: circle;
}
#imgIdentifierInvisLi {
    list-style-type: none;
    padding-left: 4px;
    margin-bottom: 10px;
}
#imgIdentifierInvisLiRadio {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 10px;
}
input[type='checkbox' i] {
    transform: translateX(-3px) translateY(1.25px);
}
#imgIdentifierImgChooser {
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: lightgrey;
    border: solid 10px rgba(53, 47, 47, 0.993);
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 999;
    user-select: none;
}
#imgIdentifierPicContainer {
    width: 375px;
    height: 375px;
    margin: auto;
    margin-top: 30px;
    border: solid rgba(53, 47, 47, 0.993);
    background-color: white;
    overflow: auto;
}
#imgIdentifierPicContainer::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 13px;
    height: 13px;
}
#imgIdentifierPicContainer::-webkit-scrollbar-thumb {
    background-color: rgba(53, 47, 47, 0.993);
    border-radius: 20px;

}
#imgIdentifierPicContainer::-webkit-scrollbar-track {
    background: lightgrey;
}
#imgIdentifierPicContainer::-webkit-scrollbar-track-piece {
    background: lightgrey;
}
#imgIdentifierPicContainer::-webkit-scrollbar-track-piece:horizontal {
    margin-left: 3px;
}
#imgIdentifierPicContainer::-webkit-scrollbar-track-piece:vertical {
    margin-top: 3px;
}
#imgIdentifierPicContainer::-webkit-scrollbar-corner {
    background-color: lightgrey;
}
#imgIdentifierPic {
    width: 375px;
    height: 375px;
    min-width: none;
    min-height: none;
    display: block;
    margin: auto;
    color: transparent;
}
#choosePicButton {
    font-family: cursive;
    margin-top: 20px;
    margin-left: 95px;
    font-size: 14px;
}
#choosePicButton::-webkit-file-upload-button {
    font-family: cursive;
    font-size: 16px;
}
#chooseImgButtonVisible {
    width: 125px;
    height: 35px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-left: 121px;
    margin-right: 10px;
    align-content: center;
    font-family: cursive;
    font-size: 16px;
    border: solid 3px rgba(53, 47, 47, 0.993);
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
#chooseImgButtonVisible:hover {
    background-color: lightcyan;
}
#imgSelected {
    margin-top: 29px;
}
#imgIdentifierDisclaimerButton {
    position: absolute;
    width: 95px;
    height: 25px;
    font-family: cursive;
    border: solid 10px rgba(53, 47, 47, 0.993);
    background-color: white;
    transform: translateX(0px) translateY(-8px);
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 20px;
    padding-top: 1px;
    cursor: pointer;
}
#imgIdentifierDisclaimerButton:hover {
    background-color: rgb(204, 231, 255);
}
#imgIdentifierDisclaimerButton:active {
    background-color: white;
}
#imgIdentifierDisclaimerBox {
    position: absolute;
    width: 313px;
    height: 260px;
    border: solid 10px rgba(53, 47, 47, 0.993);
    background-color: white;
    transform: translateX(-260px) translateY(28px);
    text-align: left;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 5px;
    padding-left: 9px;
    z-index: 998;
}
#imgIdentifierCitationButton {
    position: absolute;
    width: 85px;
    height: 25px;
    font-family: cursive;
    border: solid 10px rgba(53, 47, 47, 0.993);
    background-color: white;
    transform: translateX(405px) translateY(-8px);
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 20px;
    padding-top: 1px;
    cursor: pointer;
}
#imgIdentifierCitationButton:hover {
    background-color: rgb(204, 231, 255);
}
#imgIdentifierCitationButton:active {
    background-color: white;
}
#imgIdentifierCitationBox {
    position: absolute;
    width: 350px;
    height: 225px;
    border: solid 10px rgba(53, 47, 47, 0.993);
    background-color: white;
    transform: translateX(-115px) translateY(28px);
    text-align: left;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: pre;
    padding-top: 5px;
    padding-left: 5px;
    z-index: 999;
}
#imgIdentifierCitationBox::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: auto;
    height: 13px;
}
#imgIdentifierCitationBox::-webkit-scrollbar-thumb {
    background-color: rgba(53, 47, 47, 0.993);
    border-radius: 20px;
}
#imgIdentifierCitationBox::-webkit-scrollbar-track-piece {
    background: none;
    border-radius: 20px;
    margin-left: 3px;
    margin-right: 3px;
}
#imgIdentifierImgIdentifier {
    width: 500px;
    height: 138px;
    border: solid 10px rgba(53, 47, 47, 0.993);
    border-top: none;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: auto;
    background-color: white;
    z-index: 999;
}
#transparentImgContainer {
    width: 90px;
    height: 83px;
    border-right: solid 10px rgba(53, 47, 47, 0.993);
    border-bottom: solid 10px rgba(53, 47, 47, 0.993);
    user-select: none;
}
#imgIdentifierTransparentImg {
    width: 90px;
    height: 83px;
    border: none;
    background-color: white;
    display: block;
    user-select: none;
}
#imgIdentifierThinkingMessage {
    position: absolute;
    width: 130px;
    height: 35px;
    border: solid 5px black;
    border-radius: 20px;
    background-color: white;
    font-family: cursive;
    font-size: 20px;
    margin: auto;
    transform: translateX(-275.5px) translateY(-76.5px);
    padding-top: 6px;
    z-index: 999;
    user-select: none;
}
#startIdentificationButton {
    position: absolute;
    width: 90px;
    height: 45px;
    align-content: center;
    transform: translateX(-250px);
    border: none;
    border-right: solid 10px rgba(53, 47, 47, 0.993);
    border-bottom-left-radius: 25px;
    background-color: white;
    font-family: cursive;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}
#startIdentificationButton:hover {
    background-color: lightcyan;
}
#startIdentificationButton:active {
    background-color: white;
}
#imgIdentifierIdentificationTitle {
    position: absolute;
    transform: translateX(-127px) translateY(-74px);
    font-size: 16px;
    user-select: none;
}
#imgIdentifierIdentificationText {
    position: absolute;
    width: 355px;
    height: 70px;
    transform: translateX(-127px) translateY(-44px);
    text-align: left;
    font-size: 16px;
    user-select: text;
}
#imgIdentifierHomeButton {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    margin-top: 8px;
    transform: translateX(-367px);
    cursor: pointer;
    border: solid hsl(0, 100%, 50%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 997;
    display: inline;
    user-select: none;
}
#imgIdentifierHomeButton:hover {
    border-radius: 20px;
}
#imgIdentifierHomeButton:active {
    border-style: dashed;
}
#toPaintbrush {
    position: absolute;
    width: 100px;
    height: auto;
    transform: translateX(270px);
    display: inline;
    user-select: none;
}
.readyForAnim {
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes appearFromRightImgIdentifier {
    from {
        opacity: 0;
        transform: translateX(30vw);
    }
    to {
        opacity: 100;
        transform: translateX(0vw);
    }
}
@keyframes appearFromRightImgIdentifierRules {
    from {
        opacity: 0;
        transform: translateX(calc(30vw - 367px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw - 367px));
    }
}
@keyframes appearFromRightImgIdentifierRulesSmall {
    from {
        opacity: 0;
        transform: translateX(calc(30vw - 260px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw - 260px));
    }
}
@keyframes appearFromRightImgIdentifierSettingsIcon {
    from {
        opacity: 0;
        transform: translateX(calc(30vw + 285px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw + 285px));
    }
}
@keyframes appearFromRightImgIdentifierSettingsIconSmall {
    from {
        opacity: 0;
        transform: translateX(calc(30vw + 180px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw + 180px));
    }
}
@keyframes appearFromRightImgIdentifierSettingsBox {
    from {
        opacity: 0;
        transform: translateX(calc(30vw + 60px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw + 60px));
    }
}
@keyframes appearFromRightImgIdentifierSettingsBoxSmall {
    from {
        opacity: 0;
        transform: translateX(calc(30vw - 45px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw - 45px));
    }
}