#rulersTitle {
    position: relative;
    text-align: center;
    font-size: 43px;
    font-family: cursive;
    font-weight: bolder;
    color: hsl(187, 74%, 41%);
    display: block;
    transform: translateX(30vw);
    margin-top: 30px;
    margin-bottom: 45px;
    user-select: none;
}
#rulersRulesIcon {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    transform: translateX(-367px);
    cursor: pointer;
    border: solid hsl(187, 74%, 41%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 995;
    display: inline;
    user-select: none;
}
#rulersRulesIcon:hover {
    border-radius: 20px;
}
#rulersRulesIcon:active {
    border-style: dashed;
}
#rulersRulesIcon:not(:hover)~#rulersRulesBox {
    border-top-left-radius: 15px;
}
#rulersRulesBox {
    position: absolute;
    width: 400px;
    height: 500px;
    border: solid;
    margin: auto;
    transform: translateX(-367px);
    border-color: hsl(187, 74%, 41%);
    border-radius: 20px;
    z-index: 993;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline;
    user-select: none;
}
#rulersRulesBox::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 20px;
    height: auto;
}
#rulersRulesBox::-webkit-scrollbar-thumb {
    background: hsl(187, 74%, 41%);
    border-radius: 20px;
}
#rulersRulesBox::-webkit-scrollbar-track-piece {
    background: none;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#rulersRulesTitle {
    font-size: 30px;
    font-weight: 600;
    margin-top: 28px;
    margin-right: -60px;
    user-select: none;
}
#rulersSettingsIcon {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    transform: translateX(285px);
    cursor: pointer;
    border: solid hsl(187, 74%, 41%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 995;
    display: inline;
    user-select: none;
}
#rulersSettingsIcon:hover {
    border-radius: 20px;
}
#rulersSettingsIcon:active {
    border-style: dashed;
}
#rulersSettingsIcon:not(:hover) ~ #rulersSettingsBox {
    border-top-right-radius: 15px;
}
#rulersSettingsBox {
    position: absolute;
    width: 300px;
    height: 450px;
    border: solid;
    margin: auto;
    transform: translateX(60px);
    border-color: hsl(187, 74%, 41%);
    border-radius: 20px;
    z-index: 994;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline;
    user-select: none;
}
ul > input {
    margin-left: -40px;
    width: 200px;
}
ul > input[type='color' i] {
    width: 200px;
}
ul > span {
    position: absolute;
    font-family: cursive;
}
#rulersSettingsTitle {
    font-size: 30px;
    font-weight: 600;
    margin-top: 28px;
    margin-right: 60px;
    user-select: none;
}
ul {
    margin-top: 22px;
}
li {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: cursive;
    text-align: left;
    list-style-type: square;
    margin-right: 19px;
}
#lvl2li {
    font-family: cursive;
    margin-left: 25px;
    list-style-type: circle;
}
#invisLi {
    list-style-type: none;
}
input[type='checkbox' i] {
    transform: translateX(-4px) translateY(1.25px);
    margin-right: 11px;
}
#inchesRuler {
    position: absolute;
    text-align: center;
    font-family: cursive;
    width: 1152px;
    height: auto;
    border: solid 3px rgba(0, 0, 0, 0.575);
    display: block;
    cursor: move;
    z-index: 996;
    user-select: none;
}
#inchesRuler:focus {
    outline: none;
}
#centimetersRuler {
    position: absolute;
    text-align: center;
    font-family: cursive;
    width: 389px;
    height: auto;
    border: solid 2px rgba(0, 0, 0, 0.575);
    display: block;
    cursor: move;
    z-index: 999;
    user-select: none;
}
#centimetersRuler:focus {
    outline: none;
}
#picasRuler {
    position: absolute;
    text-align: center;
    font-family: cursive;
    width: 976px;
    height: auto;
    border: solid 3px rgba(0, 0, 0, 0.575);
    display: block;
    cursor: move;
    z-index: 997;
    user-select: none;
}
#picasRuler:focus {
    outline: none;
}
#pixelsRuler {
    position: absolute;
    text-align: center;
    font-family: cursive;
    width: 1010px;
    height: auto;
    border: solid 2px rgba(0, 0, 0, 0.575);
    display: block;
    cursor: move;
    z-index: 998;
    user-select: none;
}
#pixelsRuler:focus {
    outline: none;
}
#rulersResetButton {
    width: 90px;
    height: 50px;
    font-family: cursive;
    font-size: 20px;
    border-radius: 15px;
    border: solid 2px hsl(187, 74%, 41%);
    background-color: lightskyblue;
    cursor: pointer;
    margin-top: 654px;
    user-select: none;
}
#rulersResetButton:hover {
    background-color: deepskyblue;
}
#rulersResetButton:active {
    background-color: rgb(25, 126, 189);
}
#rulersHomeButton {
    position: absolute;
    width: 75px;
    height: auto;
    margin: auto;
    margin-top: 8px;
    transform: translateX(-367px);
    cursor: pointer;
    border: solid hsl(187, 74%, 41%);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 995;
    display: inline;
    user-select: none;
}
#rulersHomeButton:hover {
    border-radius: 20px;
}
#rulersHomeButton:active {
    border-style: dashed;
}
#toTimers {
    position: absolute;
    width: 100px;
    height: auto;
    transform: translateX(270px);
    display: inline;
    user-select: none;
}
#copyrightNoticeRulers {
    position: absolute;
    width: 350px;
    font-family: cursive;
    transform: translateX(-168px);
    display: inline;
    user-select: none;
}
.readyForAnim {
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes fadeLeftRulers {
    from {
        opacity: 100;
        transform: translateX(0vw);
    }
    to {
        opacity: 0;
        transform: translateX(-30vw);
    }
}
@keyframes fadeLeftRulersRules {
    from {
        opacity: 100;
        transform: translateX(calc(0vw - 367px));
    }
    to {
        opacity: 0;
        transform: translateX(calc(-30vw - 367px));
    }
}
@keyframes fadeLeftRulersRulesSmall {
    from {
        opacity: 100;
        transform: translateX(calc(0vw - 260px));
    }
    to {
        opacity: 0;
        transform: translateX(calc(-30vw - 260px));
    }
}
@keyframes fadeLeftRulersSettingsIcon {
    from {
        opacity: 100;
        transform: translateX(calc(0vw + 285px));
    }
    to {
        opacity: 0;
        transform: translateX(calc(-30vw + 285px));
    }
}
@keyframes fadeLeftRulersSettingsIconSmall {
    from {
        opacity: 100;
        transform: translateX(calc(0vw + 180px));
    }
    to {
        opacity: 0;
        transform: translateX(calc(-30vw + 180px));
    }
}
@keyframes fadeLeftRulersSettingsBox {
    from {
        opacity: 100;
        transform: translateX(calc(0vw + 60px));
    }
    to {
        opacity: 0;
        transform: translateX(calc(-30vw + 60px));
    }
}
@keyframes fadeLeftRulersSettingsBoxSmall {
    from {
        opacity: 100;
        transform: translateX(calc(0vw - 45px));
    }
    to {
        opacity: 0;
        transform: translateX(calc(-30vw - 45px));
    }
}
@keyframes fadeLeftRulersAllRulers {
    from {
        opacity: 100;
        transform: translateX(calc(-6px + 50vw - 50%));
    }
    to {
        opacity: 0;
        transform: translateX(calc(-6px + 20vw - 50%));
    }
}
@keyframes fadeLeftCopyrightRulers {
    from {
        opacity: 100;
        transform: translateX(calc(0vw - 168px));
    }
    to {
        opacity: 0;
        transform: translateX(calc(-30vw - 168px));
    }
}
@keyframes appearFromRightRulers {
    from {
        opacity: 0;
        transform: translateX(30vw);
    }
    to {
        opacity: 100;
        transform: translateX(0vw);
    }
}
@keyframes appearFromRightRulersRules {
    from {
        opacity: 0;
        transform: translateX(calc(30vw - 367px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw - 367px));
    }
}
@keyframes appearFromRightRulersRulesSmall {
    from {
        opacity: 0;
        transform: translateX(calc(30vw - 260px));
    }

    to {
        opacity: 100;
        transform: translateX(calc(0vw - 260px));
    }
}
@keyframes appearFromRightRulersSettingsIcon {
    from {
        opacity: 0;
        transform: translateX(calc(30vw + 285px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw + 285px));
    }
}
@keyframes appearFromRightRulersSettingsIconSmall {
    from {
        opacity: 0;
        transform: translateX(calc(30vw + 180px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw + 180px));
    }
}
@keyframes appearFromRightRulersSettingsBox {
    from {
        opacity: 0;
        transform: translateX(calc(30vw + 60px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw + 60px));
    }
}
@keyframes appearFromRightRulersSettingsBoxSmall {
    from {
        opacity: 0;
        transform: translateX(calc(30vw - 45px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw - 45px));
    }
}
@keyframes appearFromRightRulersInchesRuler {
    from {
        opacity: 0;
        transform: translateX(calc(80vw - 50%));
    }
    to {
        opacity: 100;
        transform: translateX(calc(50vw - 50%));
    }
}
@keyframes appearFromRightRulersOtherRulers {
    from {
        opacity: 0;
        transform: translateX(calc(80vw - 50%));
    }
    to {
        opacity: 0;
        transform: translateX(calc(50vw - 50%));
    }
}
@keyframes appearFromRightCopyrightRulers {
    from {
        opacity: 0;
        transform: translateX(calc(30vw - 168px));
    }
    to {
        opacity: 100;
        transform: translateX(calc(0vw - 168px));
    }
}