#rulersTitle {
    position: relative;
    text-align: center;
    font-size: 43px;
    font-family: cursive;
    font-weight: bolder;
    color: hsl(187, 74%, 41%);
    display: block;
    transform: translateX(30vw);
    margin-top: 30px;
    margin-bottom: 30px;
}
#ruler {
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    font-weight: 600;
    width: 1152px;
    height: auto;
    border: solid 3px rgba(0, 0, 0, 0.575);
    display: block;
    cursor: move;
}
#readyForAnim {
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes fadeLeft {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
        transform: translateX(-30vw);
    }
}
@keyframes appearFromLeft {
    from {
        opacity: 0;
        transform: translateX(-30vw);
    }
    to {
        opacity: 100;
        transform: translateX(0vw);
    }
}
@keyframes fadeRight {
    from {
        opacity: 100;
    }

    to {
        opacity: 0;
        transform: translateX(30vw);
    }
}
@keyframes appearFromRight {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
        transform: translateX(0vw);
    }
}
@keyframes appearFromRightRuler {
    from {
        opacity: 0;
        transform: translateX(calc(80vw - 50%));
    }
    to {
        opacity: 100;
        transform: translateX(calc(50vw - 50%));
    }
}